pre {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 15px 0 15px;
	// border: solid 1px black;
	// padding: 5px;
	height: auto;
	// background: black;
	// color: white;
	border-radius: 0.2em;
}

code {
	height: 100%;
	font-family: Consolas;
	border-radius: 0.2em;
}